---
export const prerender = false;

return new Response(JSON.stringify({
  params: Astro.params,
  url: Astro.url.pathname,
}), {
  status: 200,
  headers: { "Content-Type": "application/json" },
});
---

<MarkdownPostLayout frontmatter={frontmatter} transitionKey={transitionKey}>
  <article class="article my-8 max-w-2xl mx-auto">
    {
      kind === "caseStudy" && (
        <div class="mb-4 text-sm text-stone-500 dark:text-stone-400">Customers</div>
      )
    }
    {hasHugoShortcodes ? <Fragment set:html={shortcodeHtml} /> : Content && <Content />}
  </article>
  <CTA />
</MarkdownPostLayout>
