<section id="hero-content" class="flex flex-col gap-2 max-w-xl container mx-auto">
    <div class="mt-8 max-w-xl container mx-auto text-center">
        <div class="mb-6">
            <h1 class="text-4xl mt-4 mb-2 text-center">Pricing</h1>
        </div>
        <p class="text-slate-light">You can also try our <a href="https://docs.budibase.com" target="_blank">open source community project</a>.</p>
    </div>
</section>
