---
import StarFour from 'phosphor-astro/StarFour.astro';
import Sparkle from 'phosphor-astro/Sparkle.astro';
import PlusCircle from 'phosphor-astro/PlusCircleFill.astro';
import { Image } from 'astro:assets';
import Arm from "../../../assets/logos/arm.svg";
import Amex from "../../../assets/logos/amex.png";
---

<section class="mt-8 container mx-auto">
    <div class="grid grid-cols-4 gap-4">
        <div id="pricing-card">
            <div class="p-1 border bg-white rounded-4xl">
                <div class="border rounded-[1.8rem] !border-dashed px-8 py-6">
                    <div class="flex-col items-center gap-2 mb-2">
                        <div class="flex items-center gap-2">
                            <div class="bg-clay-dark w-8 h-8 rounded-xl p-1">
                                <StarFour class="fill-white" />
                            </div>
                            <div>
                                <h2 class="!text-2xl m-0">Pro</h2>
                            </div>
                        </div>
                        <div class="mt-8">
                            <p class="font-semibold !text-4xl">$19</p>
                            <p class="font-medium text-cloud-dark text-sm">Per month with annual subscription discount; $238 billed up front. $30 if billed monthly.</p>
                            <button class="w-full primary large my-4">Try 14-day free trial</button>
                            <ul class="mt-4">
                                <li class="flex items-center gap-2 mt-1">
                                    <span>
                                        <PlusCircle class="fill-black w-6" />
                                    </span>
                                    1,000 actions
                                </li>
                                <li class="flex items-center gap-2 mt-1">
                                    <span>
                                        <PlusCircle class="fill-black w-6" />
                                    </span>
                                    10,000 BB AI tokens
                                </li>
                                <li class="flex items-center gap-2 mt-1">
                                    <span>
                                        <PlusCircle class="fill-black w-6" />
                                    </span>
                                    5 authenticated app users
                                </li>
                                <li class="flex items-center gap-2 mt-1">
                                    <span>
                                        <PlusCircle class="fill-black w-6" />
                                    </span>
                                    1 ops engineer seat
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="pricing-card">
            <div class="p-1 border bg-white rounded-4xl">
                <div class="rounded-[1.8rem] border !border-dashed px-8 py-6">
                    <div class="flex-col items-center gap-2 mb-2">
                        <div class="flex items-center gap-2">
                            <div class="bg-grass-dark w-8 h-8 rounded-xl p-1">
                                <StarFour class="fill-white" />
                            </div>
                            <div>
                                <h2 class="!text-2xl m-0">Team</h2>
                            </div>
                        </div>
                        <div class="mt-8">
                            <p class="font-semibold !text-4xl ">$99</p>
                            <p class="font-medium text-cloud-dark text-sm">per month with annual subscription discount; $1188 billed up front. $150 if billed monthly.</p>
                            <button class="w-full primary large my-4">Try 14-day free trial</button>
                            <ul class="mt-4">
                                <li class="flex items-center gap-2 mt-1">
                                    <span>
                                        <PlusCircle class="fill-black w-6" />
                                    </span>
                                    10,000 actions
                                </li>
                                <li class="flex items-center gap-2 mt-1">
                                    <span>
                                        <PlusCircle class="fill-black w-6" />
                                    </span>
                                    50,000 BB AI tokens
                                </li>
                                <li class="flex items-center gap-2 mt-1">
                                    <span>
                                        <PlusCircle class="fill-black w-6" />
                                    </span>
                                    25 authenticated app users
                                </li>
                                <li class="flex items-center gap-2 mt-1">
                                    <span>
                                        <PlusCircle class="fill-black w-6" />
                                    </span>
                                    Add more seats at $40/mo each
                                </li>
                                <li class="flex items-center gap-2 mt-1">
                                    <span>
                                        <PlusCircle class="fill-black w-6" />
                                    </span>
                                    Custom branding
                                </li>
                                <li class="flex items-center gap-2 mt-1">
                                    <span>
                                        <PlusCircle class="fill-black w-6" />
                                    </span>
                                    Synchronous automations
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="pricing-card">
            <div class="p-1 border bg-white rounded-4xl">
                <div class="rounded-[1.8rem] border !border-dashed px-8 py-6">
                    <div class="flex-col items-center gap-2 mb-2">
                        <div class="flex items-center gap-2">
                            <div class="bg-lavendar-dark w-8 h-8 rounded-xl p-1">
                                <StarFour class="fill-white" />
                            </div>
                            <div>
                                <h2 class="!text-2xl !mt-0 ">Ultimate</h2>
                            </div>
                        </div>
                        <div class="mt-8">
                            <p class=" font-semibold !text-4xl">$299</p>
                            <p class="font-medium text-cloud-dark text-sm">per month with annual subscription discount; $3588 billed up front. $450 if billed monthly.</p>
                            <button class="primary large w-full my-4">Try 14-day free trial</button>
                            <ul class="mt-4">
                                <li class="flex items-center gap-2 mt-1">
                                    <span>
                                        <PlusCircle class="fill-black w-6" />
                                    </span>
                                    100,000 actions
                                </li>
                                <li class="flex items-center gap-2 mt-1">
                                    <span>
                                        <PlusCircle class="fill-black w-6" />
                                    </span>
                                    1,000,000 BB AI tokens
                                </li>
                                <li class="flex items-center gap-2 mt-1">
                                    <span>
                                        <PlusCircle class="fill-black w-6" />
                                    </span>
                                    50 authenticated app users
                                </li>
                                <li class="flex items-center gap-2 mt-1">
                                    <span>
                                        <PlusCircle class="fill-black w-6" />
                                    </span>
                                    Add more seats at $40/mo each
                                </li>
                                <li class="flex items-center gap-2 mt-1">
                                    <span>
                                        <PlusCircle class="fill-black w-6" />
                                    </span>
                                    Multiple workspaces
                                </li>
                                <li class="flex items-center gap-2 mt-1">
                                    <span>
                                        <PlusCircle class="fill-black w-6" />
                                    </span>
                                    Script injection
                                </li>
                                <li class="flex items-center gap-2 mt-1">
                                    <span>
                                        <PlusCircle class="fill-black w-6" />
                                    </span>
                                    Email support
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="pricing-card">
            <div class="p-1 border bg-white rounded-4xl">
                <div class="border rounded-[1.8rem] !border-dashed px-8 py-6">
                    <div class="flex-col gap-2">
                        <div class="flex items-center gap-2">
                            <div class="bg-sky-dark w-8 h-8 rounded-xl p-1">
                                <Sparkle class="fill-white" />
                            </div>
                            <div>
                                <h2 class="!text-2xl m-0">Enterprise</h2>
                            </div>
                        </div>
                        <!--
                        <div class="flex mt-4 items-center gap-3">
                            <Image src={Arm} alt="Arm logo" class="h-4 w-auto" />
                            <Image src={Amex} alt="Amex logo" class="h-8 w-auto"/>
                        </div>
                        -->
                        <div class="mt-8">
                            <p class="font-semibold !text-4xl">Contact us</p>
                            <p class="font-medium text-cloud-dark text-sm">Pricing starts at $10,000, billed annually. Monthly billing not available. Unlimited package available.</p>
                            <button class="w-full primary large my-4">Contact sales</button>
                            <ul class="mt-4">
                                <li class="flex items-center gap-2 mt-1">
                                    <span>
                                        <PlusCircle class="fill-black w-6" />
                                    </span>
                                    Higher limits
                                </li>
                                <li class="flex items-center gap-2 mt-1">
                                    <span>
                                        <PlusCircle class="fill-black w-6" />
                                    </span>
                                    Priority support
                                </li>
                                <li class="flex items-center gap-2 mt-1">
                                    <span>
                                        <PlusCircle class="fill-black w-6" />
                                    </span>
                                    AD / SCIM
                                </li>
                                <li class="flex items-center gap-2 mt-1">
                                    <span>
                                        <PlusCircle class="fill-black w-6" />
                                    </span>
                                    SSO
                                </li>
                                <li class="flex items-center gap-2 mt-1">
                                    <span>
                                        <PlusCircle class="fill-black w-6" />
                                    </span>
                                    Custom roles
                                </li>
                                <li class="flex items-center gap-2 mt-1">
                                    <span>
                                        <PlusCircle class="fill-black w-6" />
                                    </span>
                                    Custom BB AI tokens
                                </li>
                                <li class="flex items-center gap-2 mt-1">
                                    <span>
                                        <PlusCircle class="fill-black w-6" />
                                    </span>
                                    Environment variables
                                </li>
                                <li class="flex items-center gap-2 mt-1">
                                    <span>
                                        <PlusCircle class="fill-black w-6" />
                                    </span>
                                    Air-gapped deployment
                                </li>
                                <li class="flex items-center gap-2 mt-1">
                                    <span>
                                        <PlusCircle class="fill-black w-6" />
                                    </span>
                                    Self-host on premise
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
