---
import Button from "@components/Button.astro";
import Cards from "@components/cards/Card.astro"
---


   <section class="mb-8 m-16">
    <card>
      <h1 class="mb-6 text-xl md:text-2xl lg:text-3xl text-secondary text-center">
        Contact us
      </h1>
      <p class="text-center">
        Let's explore how Budibase can work for you.
      </p>
        <Button
          label="Contact sales"
          url="/contact"
          variant="secondary"
          size="large"
          class="px-6 py-3 text-xl md:px-7 md:py-3.5 md:text-xl ml-5"
          target="_blank"
        />
    </card>
    </section>

<style>

</style>