<div class="container max-w-7xl mx-auto mt-24">
  <h2 class="mb-6 text-secondary">
    Your models, your tools, your data, <span class="text-primary"
      >your privacy.</span
    >
  </h2>
  <div class="items-center-safe">
    <p class="text-sm! font-mono! m-0!">Used by 300k teams from Govs & Orgs:</p>
  </div>
  <div class="inline-flex flex-row gap-2">
    <img
      alt="france"
      loading="lazy"
      decoding="async"
      data-nimg="1"
      class="size-full object-contain w-7"
      style="color:transparent"
      src="https://res.cloudinary.com/daog6scxm/image/upload/v1757690484/NewWebsite/images/24d8742e-0b7c-447e-a7dd-7aad9c9c77b6.webp"
    />
    <img
      alt="america"
      loading="lazy"
      decoding="async"
      data-nimg="1"
      class="size-full object-contain w-7"
      style="color:transparent"
      src="https://res.cloudinary.com/daog6scxm/image/upload/v1757690285/NewWebsite/images/9bfeeaaf-eb1e-4792-8b5c-4a19d8e33bb1.webp"
    />
    <img
      alt="europe"
      loading="lazy"
      decoding="async"
      data-nimg="1"
      class="size-full object-contain w-7"
      style="color:transparent"
      src="https://res.cloudinary.com/daog6scxm/image/upload/v1757690344/NewWebsite/images/6e8fc58c-fdee-4a0e-a2f4-c28f8e426909.webp"
    />
    <img
      alt="Australia"
      loading="lazy"
      decoding="async"
      data-nimg="1"
      class="size-full object-contain w-7"
      style="color:transparent"
      src="https://res.cloudinary.com/daog6scxm/image/upload/v1757690227/NewWebsite/images/afcec39e-e401-4c1b-a5e4-57efee935274.webp"
    />
    <img
      alt="Bulgaria"
      loading="lazy"
      decoding="async"
      data-nimg="1"
      class="size-full object-contain w-7"
      style="color:transparent"
      src="https://res.cloudinary.com/daog6scxm/image/upload/v1757689284/NewWebsite/images/bulgarian_sqvgjm.webp"
    />
    <img
      alt="switzerland flag"
      loading="lazy"
      decoding="async"
      data-nimg="1"
      class="size-full object-contain w-6"
      style="color:transparent"
      src="https://res.cloudinary.com/daog6scxm/image/upload/v1757690550/NewWebsite/images/2f354bda-e364-4e5f-8152-14d8a086ff8e.webp"
    />
    <img
      alt="arm logo"
      loading="lazy"
      width="172"
      height="60"
      decoding="async"
      data-nimg="1"
      class="size-full object-contain w-9 lg:block"
      style="color:transparent"
      src="https://res.cloudinary.com/daog6scxm/image/upload/v1757690778/NewWebsite/images/4a3741b3-1957-4614-abbf-3d31bac50c90.png"
    />
    <img
      alt="saab logo"
      loading="lazy"
      width="172"
      height="60"
      decoding="async"
      data-nimg="1"
      class="size-full object-contain w-12 sm:block"
      style="color:transparent"
      src="https://res.cloudinary.com/daog6scxm/image/upload/v1757690874/NewWebsite/images/Saab-Logo-1995_rykw6r.png"
    />
    <img
      alt="AMEX"
      loading="lazy"
      width="172"
      height="60"
      decoding="async"
      data-nimg="1"
      class="size-full object-contain w-12 sm:block"
      style="color:transparent"
      src="https://res.cloudinary.com/daog6scxm/image/upload/v1758704241/NewWebsite/images/AXP_BlueBoxLogo_Alternate_SMALLscale_RGB_DIGITAL_80x80_yufp0t.svg"
    />
  </div>
</div>
