<section class="container mx-auto ">
<div class="relative w-full hidden min-[1320px]:block">
  <div class="relative px-[34px] pt-[34px] pb-16 lg:pt-[30px]">
    <div class="relative mx-auto grid grid-cols-[auto_2fr_auto_3fr_auto_2fr_auto]">
      <div style="opacity: 1; filter: blur(0px); transform: none;">
        <div class="group relative w-[141px] lg:w-[259px] rounded-[10px] p-[7px] border lg:rounded-xl lg:p-[11px] border-weak-stroke bg-white-100 shadow-[0px_2px_3px_-2px_rgba(28,40,64,0.10),0px_4px_6px_-2px_rgba(28,40,64,0.04)]">
          <div class="pointer-events-none select-none">
            <div class="flex items-center justify-between">
              <div class="grid overflow-hidden *:col-start-1 *:row-start-1">
                <div class="flex gap-x-1.5 ">
                    <svg class="size-[14px] lg:size-5 " width="14" height="14" viewBox="0 0 14 14" fill="none">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M0 5.6c0-1.96 0-2.94.381-3.689a3.5 3.5 0 0 1 1.53-1.53C2.66 0 3.64 0 5.6 0h2.8c1.96 0 2.94 0 3.689.381a3.5 3.5 0 0 1 1.53 1.53C14 2.66 14 3.64 14 5.6v2.8c0 1.96 0 2.94-.382 3.689a3.5 3.5 0 0 1-1.529 1.53C11.34 14 10.36 14 8.4 14H5.6c-1.96 0-2.94 0-3.689-.382a3.5 3.5 0 0 1-1.53-1.529C0 11.34 0 10.36 0 8.4V5.6Zm4.308 5.708h5.384c.595 0 1.077-.482 1.077-1.077a2.585 2.585 0 0 0-2.584-2.585h-2.37a2.585 2.585 0 0 0-2.584 2.585c0 .595.482 1.077 1.077 1.077ZM7 6.618a1.963 1.963 0 1 0 0-3.926 1.963 1.963 0 0 0 0 3.926Z" fill="#0FC27B">
                      </path>
                    </svg>
                  <div class="font-semibold text-secondary-foreground text-[10px] leading-[14px] tracking-[-0.28px] lg:text-[14px] lg:leading-5">Form: New ticket
                  </div>
                </div>
              </div>
              <div class="border font-medium rounded-md px-[3px] py-[0.5px] text-[8px] leading-[11px] lg:rounded-lg lg:px-[5px] lg:py-px lg:text-[12px] lg:leading-4 border-[#EEEFF1] bg-[#F4F5F6] text-[#75777C]">Standard
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-start-7 row-start-1" style="opacity: 1; filter: blur(0px); transform: none;">
        <div class="group relative w-[141px] lg:w-[259px] rounded-[10px] p-[7px] border lg:rounded-xl lg:p-[11px] border-weak-stroke bg-white-100 shadow-[0px_2px_3px_-2px_rgba(28,40,64,0.10),0px_4px_6px_-2px_rgba(28,40,64,0.04)]">
          <div class="pointer-events-none select-none">
            <div class="flex items-center justify-between">
              <div class="grid overflow-hidden *:col-start-1 *:row-start-1">
                <div class="flex gap-x-1.5">
                    <svg class="size-[14px] lg:size-5" width="14" height="14" viewBox="0 0 14 14" fill="none">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M.381 1.911C0 2.66 0 3.64 0 5.6v2.8c0 1.96 0 2.94.381 3.689a3.5 3.5 0 0 0 1.53 1.53C2.66 14 3.64 14 5.6 14h2.8c1.96 0 2.94 0 3.689-.382a3.5 3.5 0 0 0 1.53-1.529C14 11.34 14 10.36 14 8.4V5.6c0-1.96 0-2.94-.382-3.689A3.5 3.5 0 0 0 12.09.381C11.34 0 10.36 0 8.4 0H5.6C3.64 0 2.66 0 1.911.381a3.5 3.5 0 0 0-1.53 1.53Zm2.85 5.95V6.14c0-1.207 0-1.81.235-2.27.206-.406.536-.735.94-.942.462-.235 1.065-.235 2.27-.235h.647c1.206 0 1.81 0 2.27.235.405.207.735.536.941.941.235.461.235 1.064.235 2.27v1.724c0 1.206 0 1.809-.235 2.27a2.154 2.154 0 0 1-.94.94c-.462.236-1.065.236-2.27.236h-.647c-1.206 0-1.81 0-2.27-.235a2.154 2.154 0 0 1-.941-.941c-.235-.461-.235-1.064-.235-2.27Zm4.32-3.769a.55.55 0 1 0-1.1 0v.067a1.377 1.377 0 0 0-.886.376 1.301 1.301 0 0 0-.407.942c0 .359.15.697.407.942.256.244.599.377.95.377h.97c.076 0 .145.03.191.074a.201.201 0 0 1 .066.145c0 .05-.02.103-.066.146a.279.279 0 0 1-.191.074h-1.54a.55.55 0 1 0 0 1.1h.505V8.4a.55.55 0 1 0 1.1 0v-.067c.328-.015.645-.146.885-.375.257-.246.407-.584.407-.943 0-.358-.15-.697-.407-.942a1.379 1.379 0 0 0-.95-.377h-.97a.279.279 0 0 1-.191-.073.201.201 0 0 1-.066-.146c0-.05.02-.102.066-.146a.279.279 0 0 1 .191-.073H8.034a.55.55 0 0 0 0-1.1H7.55v-.066ZM4.295 9.8a.55.55 0 0 1 .55-.55h4.308a.55.55 0 0 1 0 1.1H4.846a.55.55 0 0 1-.55-.55Z" fill="#9162F9">
                      </path>
                    </svg>
                  <div class="font-semibold text-secondary-foreground text-[10px] leading-[14px] tracking-[-0.28px] lg:text-[14px] lg:leading-5">Approval: Offboard
                  </div>
                </div>
              </div>
              <div class="border font-medium rounded-md px-[3px] py-[0.5px] text-[8px] leading-[11px] lg:rounded-lg lg:px-[5px] lg:py-px lg:text-[12px] lg:leading-4 border-[#EEEFF1] bg-[#F4F5F6] text-[#75777C]">Standard
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="-mt-5 col-start-3 row-start-2" style="opacity: 1; filter: blur(0px); transform: none;">
        <div class="group relative w-[141px] lg:w-[259px] rounded-[10px] p-[7px] border lg:rounded-xl lg:p-[11px] border-weak-stroke bg-white-100 shadow-[0px_2px_3px_-2px_rgba(28,40,64,0.10),0px_4px_6px_-2px_rgba(28,40,64,0.04)]">
          <div class="pointer-events-none select-none">
            <div class="flex items-center justify-between">
              <div class="grid overflow-hidden *:col-start-1 *:row-start-1">
                <div class="flex gap-x-1.5">
                    <svg class="size-[14px] lg:size-5" width="14" height="14" viewBox="0 0 14 14" fill="none">
                      <g fill-rule="evenodd" clip-rule="evenodd">
                      <path d="M.381 1.911C0 2.66 0 3.64 0 5.6v2.8c0 1.96 0 2.94.381 3.689a3.5 3.5 0 0 0 1.53 1.53C2.66 14 3.64 14 5.6 14h2.8c1.96 0 2.94 0 3.689-.382a3.5 3.5 0 0 0 1.53-1.529C14 11.34 14 10.36 14 8.4V5.6c0-1.96 0-2.94-.382-3.689A3.5 3.5 0 0 0 12.09.381C11.34 0 10.36 0 8.4 0H5.6C3.64 0 2.66 0 1.911.381a3.5 3.5 0 0 0-1.53 1.53Zm8.872 7.665c.028.147.043.298.043.453 0 .159-.038.309-.104.443a1.021 1.021 0 0 1-.911.566H5.714a1.01 1.01 0 0 1-1.01-1.01A2.423 2.423 0 0 1 6.988 7.61a2.439 2.439 0 0 1 2.265 1.967ZM6.416 4.802c0 .528.224 1.003.584 1.34a1.826 1.826 0 0 0 0-2.68c-.36.336-.584.812-.584 1.34Zm2.087 0c0 .683-.252 1.307-.669 1.788.142.034.29.052.441.052a1.85 1.85 0 0 0 1.86-1.84 1.85 1.85 0 0 0-1.86-1.84c-.152 0-.3.017-.44.051.416.481.668 1.106.668 1.789Zm1.71 5.227c0-.955-.405-1.816-1.055-2.423h.265a2.423 2.423 0 0 1 2.423 2.423 1.01 1.01 0 0 1-1.01 1.01h-.912c.184-.294.29-.64.29-1.01Z" fill="#266DF0">
                      </path>
                      <path d="M5.725 6.641a1.85 1.85 0 0 0 1.86-1.84 1.85 1.85 0 0 0-1.86-1.84 1.85 1.85 0 0 0-1.86 1.84 1.85 1.85 0 0 0 1.86 1.84Zm2.55 4.397H3.174c-.563 0-1.02-.452-1.02-1.01 0-1.338 1.096-2.423 2.448-2.423h2.245c1.352 0 2.449 1.085 2.449 2.423 0 .558-.457 1.01-1.02 1.01Z" fill="#fff">
                      </path>
                      </g>
                    </svg>
                  <div class="font-semibold text-secondary-foreground text-[10px] leading-[14px] tracking-[-0.28px] lg:text-[14px] lg:leading-5">Agent: Verify
                  </div>
                </div>
              </div>
              <div class="border font-medium rounded-md px-[3px] py-[0.5px] text-[8px] leading-[11px] lg:rounded-lg lg:px-[5px] lg:py-px lg:text-[12px] lg:leading-4 border-[#EEEFF1] bg-[#F4F5F6] text-[#75777C]">Standard
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="pointer-events-none absolute top-0 left-[128px] col-start-1 col-end-3 row-start-2 row-end-3">
          <svg class="h-full w-full" viewBox="0 0 215 64" fill="none">
            <path pathLength="1" stroke-dasharray="1 1" d="M1 0.5V29.079C1 35.255 4.16635 40.9998 9.38812 44.2978L30.1929 57.4376C35.9463 61.0713 42.6118 63 49.4166 63H215" stroke="#E4E7EC" stroke-dashoffset="0">
            </path>
          </svg>
        <div class="-top-px absolute left-px">
            <svg class="h-px w-px overflow-visible" fill="none">
              <path pathLength="1" stroke-dasharray="1 1" d="M -17 0 L -17 3 A 8 8 0 0 0 -9 12 L 0 12" stroke-width="1" stroke="#E4E7EC" stroke-dashoffset="0">
              </path>
              <path pathLength="1" stroke-dasharray="1 1" d="M 17 0 L 17 3 A 8 8 0 0 1 9 12 L 0 12" stroke-width="1" stroke="#E4E7EC" stroke-dashoffset="0">
              </path>
              <circle cx="-17" cy="0.5" r="2" fill="white" stroke="#E4E7EC" stroke-width="2" opacity="1" style="transform: none; transform-origin: 50% 50%; transform-box: fill-box;">
              </circle>
              <circle cx="0" cy="0.5" r="2" fill="white" stroke="#E4E7EC" stroke-width="2" opacity="1" style="transform: none; transform-origin: 50% 50%; transform-box: fill-box;">
              </circle>
              <circle cx="17" cy="0.5" r="2" fill="white" stroke="#E4E7EC" stroke-width="2" opacity="1" style="transform: none; transform-origin: 50% 50%; transform-box: fill-box;">
              </circle>
            </svg>
        </div>
        <div class="-right-[1.5px] absolute bottom-0">
            <svg class="h-px w-px overflow-visible" fill="none">
              <circle cx="0" cy="-0.5" r="2" fill="white" stroke="#E4E7EC" stroke-width="2" opacity="1" style="transform: none; transform-origin: 50% 50%; transform-box: fill-box;">
              </circle>
            </svg>
        </div>
      </div>
      <div class="pointer-events-none absolute top-0 right-[129px] bottom-[-29px] left-0 col-start-4 col-end-8 row-start-2 row-end-3">
          <svg class="h-full w-full" viewBox="0 0 592 171" fill="none" preserveAspectRatio="none">
            <path pathLength="1" stroke-dasharray="1 1" d="M0 63.5H6.37893C18.6103 63.5 30.0049 69.7104 36.6337 79.9898L84.3663 154.009C90.9951 164.289 102.39 170.499 114.621 170.499H367.5C387.382 170.499 403.5 154.381 403.5 134.499V99C403.5 79.1177 419.608 63 439.491 63C469.733 63 512.741 63 543.098 63C549.903 63 556.554 61.0713 562.307 57.4376L583.112 44.2978C588.334 40.9998 591.5 35.255 591.5 29.079V0.5" stroke="#E4E7EC" stroke-dashoffset="0">
            </path>
          </svg>
        <div class="-top-px absolute right-0">
            <svg class="h-px w-px overflow-visible" fill="none">
              <path pathLength="1" stroke-dasharray="1 1" d="M -17 0 L -17 3 A 8 8 0 0 0 -9 12 L 0 12" stroke-width="1" stroke="#E4E7EC" stroke-dashoffset="0">
              </path>
              <path pathLength="1" stroke-dasharray="1 1" d="M 17 0 L 17 3 A 8 8 0 0 1 9 12 L 0 12" stroke-width="1" stroke="#E4E7EC" stroke-dashoffset="0">
              </path>
              <circle cx="-17" cy="0.5" r="2" fill="white" stroke="#E4E7EC" stroke-width="2" opacity="1" style="transform: none; transform-origin: 50% 50%; transform-box: fill-box;">
              </circle>
              <circle cx="0" cy="0.5" r="2" fill="white" stroke="#E4E7EC" stroke-width="2" opacity="1" style="transform: none; transform-origin: 50% 50%; transform-box: fill-box;">
              </circle>
              <circle cx="17" cy="0.5" r="2" fill="white" stroke="#E4E7EC" stroke-width="2" opacity="1" style="transform: none; transform-origin: 50% 50%; transform-box: fill-box;">
              </circle>
            </svg>
        </div>
        <div class="-left-[0.5px] absolute bottom-[107.25px]">
            <svg class="h-px w-px overflow-visible" fill="none">
              <path pathLength="1" stroke-dasharray="1 1" d="M 0 -17 L 3 -17 A 8 8 0 0 1 12 -9 L 12 0" stroke-width="1" stroke="#E4E7EC" stroke-dashoffset="0">
              </path>
              <path pathLength="1" stroke-dasharray="1 1" d="M 0 17 L 3 17 A 8 8 0 0 0 12 9 L 12 0" stroke-width="1" stroke="#E4E7EC" stroke-dashoffset="0">
              </path>
              <circle cx="-0.5" cy="-17" r="2" fill="white" stroke="#E4E7EC" stroke-width="2" opacity="1" style="transform: none; transform-origin: 50% 50%; transform-box: fill-box;">
              </circle>
              <circle cx="-0.5" cy="0" r="2" fill="white" stroke="#E4E7EC" stroke-width="2" opacity="1" style="transform: none; transform-origin: 50% 50%; transform-box: fill-box;">
              </circle>
              <circle cx="-0.5" cy="17" r="2" fill="white" stroke="#E4E7EC" stroke-width="2" opacity="1" style="transform: none; transform-origin: 50% 50%; transform-box: fill-box;">
              </circle>
            </svg>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
