---
import bbSymbol from "@assets/BBSymbol.svg";
import bbSymbolWhite from "@assets/BBSymbolWhite.svg";
import { Image } from "astro:assets";
import Button from "@components/Button.astro";
import HeaderDropDown from "@components/HeaderDropDown.astro";
---

<nav
  class="sticky top-0 z-50 bg-primary backdrop-blur-md flex flex-col md:flex-row justify-between items-start md:items-center container max-w-7xl px-2 lg:px-0 py-3 gap-3 md:gap-0 mx-auto transition-colors duration-150"
>
  <div class="flex flex-wrap items-center gap-3 md:gap-5 w-full md:w-auto">
    <a href="/">
      <div class="w-7 mr-2 relative">
        <Image
          src={bbSymbol}
          alt="Budibase symbol"
          class="hover:cursor-pointer dark:hidden"
        />
        <Image
          src={bbSymbolWhite}
          alt="Budibase symbol"
          class="hover:cursor-pointer hidden dark:block"
        />
      </div>
    </a>
    <a
      target="_self"
      href="/features"
      class="hidden md:inline-block text-sm px-1 text-stone-800 dark:text-stone-400 hover:text-stone-600 dark:hover:text-stone-200 transition-colors"
      data-astro-prefetch
    >
      Platform
    </a>
    <a
      target="_self"
      href="/features"
      class="hidden md:inline-block text-sm px-1 text-stone-800 dark:text-stone-400 hover:text-stone-600 dark:hover:text-stone-200 transition-colors"
      data-astro-prefetch
    >
      Community
    </a>
    <a
      target="_self"
      href="/features"
      class="hidden md:inline-block text-sm px-1 text-stone-800 dark:text-stone-400 hover:text-stone-600 dark:hover:text-stone-200 transition-colors"
      data-astro-prefetch
    >
      Enterprise
    </a>
    <a
      target="_self"
      href="/pricing"
      class="hidden md:inline-block text-sm px-1 text-stone-800 dark:text-stone-400 hover:text-stone-600 dark:hover:text-stone-200 transition-colors"
      data-astro-prefetch
    >
      Pricing
    </a>
    <div class="hidden md:block">
      <HeaderDropDown
        label="Resources"
        items={[
          {
            href: "/products/agents",
            label: "Agents",
          },
          {
            href: "/products/agents",
            label: "Agents",
          },
        ]}
      />
    </div>
  </div>
  <div class="flex flex-row gap-2 md:gap-3 items-center w-full md:w-auto justify-end">
    <a
      href="https://github.com/budibase/budibase"
      target="_blank"
      class="relative justify-center items-center px-1.5 text-center ease-out duration-150 rounded-sm outline-none transition-all hover:bg-stone-200 dark:hover:bg-stone-800 border-transparent text-xs hidden lg:flex"
      ><span class="truncate"
        ><span
          class="flex text-sm items-center gap-0.5 text-stone-700 hover:text-stone-900 dark:text-stone-400 dark:hover:text-stone-200"
          ><svg
            class="w-5 h-5"
            viewBox="0 0 17 16"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            ><path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M8.5 2.22168C5.23312 2.22168 2.58496 4.87398 2.58496 8.14677C2.58496 10.7642 4.27962 12.9853 6.63026 13.7684C6.92601 13.8228 7.03366 13.6401 7.03366 13.4827C7.03366 13.3425 7.02893 12.9693 7.02597 12.4754C5.38041 12.8333 5.0332 11.681 5.0332 11.681C4.76465 10.996 4.37663 10.8139 4.37663 10.8139C3.83954 10.4471 4.41744 10.4542 4.41744 10.4542C5.01072 10.4956 5.32303 11.0647 5.32303 11.0647C5.85065 11.9697 6.70774 11.7082 7.04431 11.5568C7.09873 11.1741 7.25134 10.9132 7.42051 10.7654C6.10737 10.6157 4.72621 10.107 4.72621 7.83683C4.72621 7.19031 4.95689 6.66092 5.33486 6.24686C5.27394 6.09721 5.07105 5.49447 5.39283 4.67938C5.39283 4.67938 5.88969 4.51967 7.01947 5.28626C7.502 5.15466 7.99985 5.08763 8.5 5.08692C9.00278 5.08929 9.50851 5.15495 9.98113 5.28626C11.1103 4.51967 11.606 4.67879 11.606 4.67879C11.9289 5.49447 11.7255 6.09721 11.6651 6.24686C12.0437 6.66092 12.2732 7.19031 12.2732 7.83683C12.2732 10.1129 10.8897 10.6139 9.5724 10.7606C9.78475 10.9434 9.97344 11.3048 9.97344 11.8579C9.97344 12.6493 9.96634 13.2887 9.96634 13.4827C9.96634 13.6413 10.0728 13.8258 10.3733 13.7678C11.5512 13.3728 12.5751 12.6175 13.3003 11.6089C14.0256 10.6002 14.4155 9.38912 14.415 8.14677C14.415 4.87398 11.7663 2.22168 8.5 2.22168Z"
              fill="currentColor"></path>
          </svg>27.3K</span
        ></span
      ></a
    >
    <Button label="Sign in" url="/" variant="secondary" size="small" />
    <Button label="Get Budibase free" url="/" variant="primary" size="small" />
  </div>
</nav>

<style>
  button {
    background-color: var(--slate-dark);
    color: white;
    font-weight: 500;
    border-radius: 20px;
    font-size: 14px;
    line-height: 14px;
    padding: 6px 8px;
    transition: 150ms background-color ease-out;
    display: flex;
  }

  button:hover {
    background-color: var(--slate-light);
  }
</style>
