---
import OctopusLogo from "@assets/logos/octopus.svg?url";
import SaabLogo from "@assets/logos/saab.svg?url";
import EconLogo from "@assets/logos/ECON_RGB.svg?url";
---

<div
  class="customer-dock-row-scroll w-full overflow-x-auto flex items-center justify-center"
>
  <div class="inline-flex items-center justify-center gap-5 mx-auto px-2">
    <div class="flex items-center justify-center gap-2 shrink-0">
      <div
        class="relative z-10 w-18 h-9 px-3 py-2 place-content-center justify-center flex bg-secondary opacity-80"
      >
        <img
          alt="ARM logo"
          loading="lazy"
          decoding="async"
          class="size-full object-contain w-12"
          style="color:transparent"
          src="https://res.cloudinary.com/daog6scxm/image/upload/v1757690778/NewWebsite/images/4a3741b3-1957-4614-abbf-3d31bac50c90.png"
        />
      </div>
      <div
        class="relative z-10 w-18 h-9 px-3 py-2 place-content-center justify-center flex bg-secondary opacity-80"
      >
        <img
          alt="Saab logo"
          loading="lazy"
          decoding="async"
          class="size-full object-contain w-16"
          style="color:transparent"
          src={SaabLogo}
        />
      </div>
      <div
        class="relative z-10 w-18 h-9 px-3 place-content-center justify-center flex bg-secondary opacity-80"
      >
        <img
          alt="American Express logo"
          loading="lazy"
          decoding="async"
          class="size-full object-contain w-16"
          style="color:transparent"
          src="https://res.cloudinary.com/daog6scxm/image/upload/v1758704241/NewWebsite/images/AXP_BlueBoxLogo_Alternate_SMALLscale_RGB_DIGITAL_80x80_yufp0t.svg"
        />
      </div>
      <div
        class="relative z-10 w-18 h-9 px-3 py-2 place-content-center justify-center flex bg-secondary opacity-80"
      >
        <img
          alt="Octopus logo"
          loading="lazy"
          decoding="async"
          class="size-full object-contain w-10"
          style="color:transparent"
          src={OctopusLogo}
        />
      </div>
      <div
        class="relative z-10 w-18 h-9 px-3 py-2 place-content-center justify-center flex bg-secondary opacity-80"
      >
        <img
          alt="ECON logo"
          loading="lazy"
          decoding="async"
          class="size-full object-contain w-10 invert"
          style="color:transparent"
          src={EconLogo}
        />
      </div>
    </div>

    <div class="flex items-center justify-center shrink-0">
      <p class="m-0! text-sm !text-secondary whitespace-nowrap">
        Join 300K teams from SMEs to Govs
      </p>
    </div>

    <div class="flex items-center justify-center gap-2 shrink-0">
      <div
        class="relative z-10 w-18 h-9 px-3 py-2 place-content-center justify-center flex bg-secondary opacity-80"
      >
        <img
          alt="French flag"
          loading="lazy"
          decoding="async"
          class="size-full object-contain w-10"
          style="color:transparent"
          src="https://res.cloudinary.com/daog6scxm/image/upload/v1757690484/NewWebsite/images/24d8742e-0b7c-447e-a7dd-7aad9c9c77b6.webp"
        />
      </div>
      <div
        class="relative z-10 w-18 h-9 px-3 py-2 place-content-center justify-center flex bg-secondary opacity-80"
      >
        <img
          alt="US flag"
          loading="lazy"
          decoding="async"
          class="size-full object-contain w-10"
          style="color:transparent"
          src="https://res.cloudinary.com/daog6scxm/image/upload/v1757690285/NewWebsite/images/9bfeeaaf-eb1e-4792-8b5c-4a19d8e33bb1.webp"
        />
      </div>
      <div
        class="relative z-10 w-18 h-9 px-3 py-2 place-content-center justify-center flex bg-secondary opacity-80"
      >
        <img
          alt="Italian flag"
          loading="lazy"
          decoding="async"
          class="size-full object-contain w-10"
          style="color:transparent"
          src="https://res.cloudinary.com/daog6scxm/image/upload/v1757690344/NewWebsite/images/6e8fc58c-fdee-4a0e-a2f4-c28f8e426909.webp"
        />
      </div>
      <div
        class="relative z-10 w-18 h-9 px-3 py-2 place-content-center justify-center flex bg-secondary opacity-80"
      >
        <img
          alt="Bulgarian flag"
          loading="lazy"
          decoding="async"
          class="size-full object-contain w-10"
          style="color:transparent"
          src="https://res.cloudinary.com/daog6scxm/image/upload/v1757689284/NewWebsite/images/bulgarian_sqvgjm.webp"
        />
      </div>
      <div
        class="relative z-10 w-18 h-9 px-3 py-2 place-content-center justify-center flex bg-secondary opacity-80"
      >
        <img
          alt="Swiss flag"
          loading="lazy"
          decoding="async"
          class="size-full object-contain w-10"
          style="color:transparent"
          src="https://res.cloudinary.com/daog6scxm/image/upload/v1757690550/NewWebsite/images/2f354bda-e364-4e5f-8152-14d8a086ff8e.webp"
        />
      </div>
    </div>
  </div>
</div>

<style>
  .customer-dock-row-scroll {
    scrollbar-width: none;
    overflow-x: hidden;
  }

  .customer-dock-row-scroll::-webkit-scrollbar {
    display: none;
  }

  @media (max-width: 767px) {
    .customer-dock-row-scroll > div {
      display: flex;
      width: 100%;
      flex-direction: column;
      align-items: center;
      gap: 0.75rem;
      padding-block: 0.75rem;
    }

    .customer-dock-row-scroll > div > div {
      justify-content: center;
    }

    .customer-dock-row-scroll > div > div:first-child,
    .customer-dock-row-scroll > div > div:last-child {
      flex-wrap: wrap;
    }

    .customer-dock-row-scroll p {
      text-align: center;
      white-space: normal;
    }
  }
</style>
