---
import CustomerFirstRowLogos from "./CustomerFirstRowLogos.astro";
---

<div class="max-w-7xl container mx-auto px-2 lg:px-0 relative mt-3 mb-12 md:mb-16">
  <div
    data-customer-dock-destination
    class="customer-dock-destination h-[60px] bg-[var(--bg-1)] flex items-center justify-center"
  >
    <CustomerFirstRowLogos />
  </div>
</div>

<style>
  .customer-dock-destination {
    border-top: 1px solid var(--border-color);
  }

  .customer-dock-destination.customer-dock-destination-parked {
    border-top-color: transparent;
  }
</style>
