---
import CustomerQuotes from "./CustomerQuotes.astro";
---

<section class="max-w-xl mx-auto">
  <h1 class="!text-2xl">
    Chosen by 200,000 teams from the world's top Governments and organizations
  </h1>
  <div
    class="mt-4 grid align-middle items-center grid-cols-10 gap-x-5 gap-y-4.5 max-xl:grid-cols-8 max-xl:gap-y-5 max-lg:gap-x-5 max-lg:gap-y-3 max-md:grid-cols-8 max-md:gap-x-4 max-md:gap-y-2 max-md:[&>*:nth-child(1n+11)]:hidden"
  >
    <img
      alt=""
      loading="lazy"
      width="172"
      height="60"
      decoding="async"
      data-nimg="1"
      class="size-full object-contain nth-[n+11]:hidden h-13 max-md:nth-8:hidden max-md:nth-9:hidden max-xl:nth-8:block max-xl:nth-9:block max-xl:h-11"
      style="color:transparent"
      src="https://res.cloudinary.com/daog6scxm/image/upload/v1757690484/NewWebsite/images/24d8742e-0b7c-447e-a7dd-7aad9c9c77b6.webp"
    />
    <img
      alt="google logo"
      loading="lazy"
      width="172"
      height="60"
      decoding="async"
      data-nimg="1"
      class="size-full object-contain nth-[n+11]:hidden h-13 max-md:nth-8:hidden max-md:nth-9:hidden max-xl:nth-8:block max-xl:nth-9:block max-xl:h-11"
      style="color:transparent"
      src="https://res.cloudinary.com/daog6scxm/image/upload/v1681224471/partner-logos/google-full_qcpcik.webp"
    />
    <img
      alt=""
      loading="lazy"
      width="172"
      height="60"
      decoding="async"
      data-nimg="1"
      class="size-full object-contain nth-[n+11]:hidden h-13 max-md:nth-8:hidden max-md:nth-9:hidden max-xl:nth-8:block max-xl:nth-9:block max-xl:h-11"
      style="color:transparent"
      src="https://res.cloudinary.com/daog6scxm/image/upload/v1757690344/NewWebsite/images/6e8fc58c-fdee-4a0e-a2f4-c28f8e426909.webp"
    />
    <img
      alt="netflix logo"
      loading="lazy"
      width="172"
      height="60"
      decoding="async"
      data-nimg="1"
      class="size-full object-contain nth-[n+11]:hidden h-13 max-md:nth-8:hidden max-md:nth-9:hidden max-xl:nth-8:block max-xl:nth-9:block max-xl:h-11"
      style="color:transparent"
      src="https://res.cloudinary.com/daog6scxm/image/upload/v1681224576/partner-logos/netflix-full_zrpbl5.webp"
    />
    <img
      alt=""
      loading="lazy"
      width="172"
      height="60"
      decoding="async"
      data-nimg="1"
      class="size-full object-contain nth-[n+11]:hidden h-13 max-md:nth-8:hidden max-md:nth-9:hidden max-xl:nth-8:block max-xl:nth-9:block max-xl:h-11"
      style="color:transparent"
      src="https://res.cloudinary.com/daog6scxm/image/upload/v1757690285/NewWebsite/images/9bfeeaaf-eb1e-4792-8b5c-4a19d8e33bb1.webp"
    />
    <img
      alt="arm logo"
      loading="lazy"
      width="172"
      height="60"
      decoding="async"
      data-nimg="1"
      class="size-full object-contain nth-[n+11]:hidden h-13 max-md:nth-8:hidden max-md:nth-9:hidden max-xl:nth-8:block max-xl:nth-9:block max-xl:h-11"
      style="color:transparent"
      src="https://res.cloudinary.com/daog6scxm/image/upload/v1757690778/NewWebsite/images/4a3741b3-1957-4614-abbf-3d31bac50c90.png"
    />
    <img
      alt=""
      loading="lazy"
      width="173"
      height="60"
      decoding="async"
      data-nimg="1"
      class="size-full object-contain nth-[n+11]:hidden h-13 max-md:nth-8:hidden max-md:nth-9:hidden max-xl:nth-8:block max-xl:nth-9:block max-xl:h-11 border"
      style="color:transparent"
      src="https://res.cloudinary.com/daog6scxm/image/upload/v1757689284/NewWebsite/images/bulgarian_sqvgjm.webp"
    />
    <img
      alt="saab logo"
      loading="lazy"
      width="172"
      height="60"
      decoding="async"
      data-nimg="1"
      class="size-full object-contain nth-[n+11]:hidden h-13 max-md:nth-8:hidden max-md:nth-9:hidden max-xl:nth-8:block max-xl:nth-9:block max-xl:h-11"
      style="color:transparent"
      src="https://res.cloudinary.com/daog6scxm/image/upload/v1757690874/NewWebsite/images/Saab-Logo-1995_rykw6r.png"
    />
    <img
      alt=""
      loading="lazy"
      width="172"
      height="60"
      decoding="async"
      data-nimg="1"
      class="size-full object-contain nth-[n+11]:hidden h-13 max-md:nth-8:hidden max-md:nth-9:hidden max-xl:nth-8:block max-xl:nth-9:block max-xl:h-11"
      style="color:transparent"
      src="https://res.cloudinary.com/daog6scxm/image/upload/v1757690227/NewWebsite/images/afcec39e-e401-4c1b-a5e4-57efee935274.webp"
    />
    <img
      alt="switzerland flag"
      loading="lazy"
      width="172"
      height="60"
      decoding="async"
      data-nimg="1"
      class="size-full object-contain nth-[n+11]:hidden h-13 max-md:nth-8:hidden max-md:nth-9:hidden max-xl:nth-8:block max-xl:nth-9:block max-xl:h-11"
      style="color:transparent"
      src="https://res.cloudinary.com/daog6scxm/image/upload/v1757690550/NewWebsite/images/2f354bda-e364-4e5f-8152-14d8a086ff8e.webp"
    />
  </div>
  <div class="grid grid-cols-2 gap-6 mt-8 pr-4">
    <div class="w-full border-t border-stone-200 border-dashed">
      <h4 class="mt-4 !text-lg">1. Open source</h4>
      <p class="!text-sm text-slate-light">
        Inspect the code, run your own scans, and verify what’s running.
      </p>
    </div>
    <div class="w-full border-t border-stone-200 border-dashed">
      <h4 class="mt-4 !text-lg">2. Self-host & sovereignty</h4>
      <p class="!text-sm text-slate-light">
        Self-host on your own infra, keep data in-country, and run in air-gapped
        networks.
      </p>
    </div>
    <div class="w-full border-t border-stone-200 border-dashed">
      <h4 class="mt-4 !text-lg">3. Zero-Touch Data</h4>
      <p class="!text-sm text-slate-light">
        Connect Postgres/MySQL/SQL Server (and more) - and we won’t hold your
        data.
      </p>
    </div>
    <div class="w-full border-t border-stone-200 border-dashed">
      <h4 class="mt-4 !text-lg">4. Free SSO and custom RBAC</h4>
      <p class="!text-sm text-slate-light">
        Unlike competitors, we provide SSO and custom RBAC for free.
      </p>
    </div>
  </div>
</section>

<CustomerQuotes />

<hr class="w-1/3 my-12 mx-auto text-ivory-dark border-dashed" />
