<section class="container max-w-2xl mx-auto">
  <div class="relative h-[440px] mt-16 hidden md:block">
    <div class="z-0 absolute left-0" style="">
      <div
        class="bg-white md:w-72 p-2 md:h-[360px] rounded-xl shadow-sm md:hover:shadow-lg md:hover:-translate-y-2 md:hover:scale-105 cursor-default transition-all duration-200 undefined"
      >
        <div class="h-full w-full border rounded-lg p-3">
          <div class="flex justify-between">
            <div class="h-1 w-1 bg-stone-900"></div><div
              class="h-1 w-1 bg-stone-900"
            >
            </div>
          </div><div class="h-full w-full flex flex-col justify-between py-4">
            <img
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2d/Flag_of_the_Basque_Country.svg/330px-Flag_of_the_Basque_Country.svg.webp"
              class="md:h-20 h-16 md:w-20 w-16 md:mb-0 mb-8"
              alt=""
            /><div class="flex flex-col gap-3">
              <div class="font-mono leading-tight">
                Budibase is helping our whole IT team—and even non-IT staff —
                take ownership of their workflows.
              </div><div class="font-medium text-stone-900">
                Thierry – IT Admin at Basque Country Water Network
              </div>
            </div>
          </div><div class="flex justify-between">
            <div class="h-1 w-1 bg-stone-900"></div><div
              class="h-1 w-1 bg-stone-900"
            >
            </div>
          </div>
        </div>
      </div>
    </div><div class="z-10 absolute left-24" style="">
      <div
        class="bg-white md:w-72 p-2 md:h-[360px] rounded-xl shadow-sm md:hover:shadow-lg md:hover:-translate-y-2 md:hover:scale-105 cursor-default transition-all duration-200 undefined"
      >
        <div class="h-full w-full border rounded-lg p-3">
          <div class="flex justify-between">
            <div class="h-1 w-1 bg-stone-900"></div><div
              class="h-1 w-1 bg-stone-900"
            >
            </div>
          </div><div class="h-full w-full flex flex-col justify-between py-4">
            <img
              src="/assets/logos/uni_logo.png"
              class="md:h-20 h-16 md:w-20 w-16 md:mb-0 mb-8"
              alt=""
            /><div class="flex flex-col gap-3">
              <div class="font-mono leading-tight">
                Agora has helped Uniswap increase both the number and quality of
                delegates contributing to protocol governance, namely through a
                campaign redistributing 8M+ UNI to delegates
              </div><div class="font-medium text-stone-900">
                Devin Walsh – Uniswap Foundation Executive Director
              </div>
            </div>
          </div><div class="flex justify-between">
            <div class="h-1 w-1 bg-stone-900"></div><div
              class="h-1 w-1 bg-stone-900"
            >
            </div>
          </div>
        </div>
      </div>
    </div><div class="z-20 absolute left-48" style="">
      <div
        class="bg-white md:w-72 p-2 md:h-[360px] rounded-xl shadow-sm md:hover:shadow-lg md:hover:-translate-y-2 md:hover:scale-105 cursor-default transition-all duration-200 undefined"
      >
        <div class="h-full w-full border rounded-lg p-3">
          <div class="flex justify-between">
            <div class="h-1 w-1 bg-stone-900"></div><div
              class="h-1 w-1 bg-stone-900"
            >
            </div>
          </div><div class="h-full w-full flex flex-col justify-between py-4">
            <img
              src="/assets/logos/derive_logo.png"
              class="md:h-20 h-16 md:w-20 w-16 md:mb-0 mb-8"
              alt=""
            /><div class="flex flex-col gap-3">
              <div class="font-mono leading-tight">
                Agora helped us migrate our governance from mainnet to our
                rollup, reducing cost of voting and increasing participation.
              </div><div class="font-medium text-stone-900">
                Michael Spain – Derive Co-Founder
              </div>
            </div>
          </div><div class="flex justify-between">
            <div class="h-1 w-1 bg-stone-900"></div><div
              class="h-1 w-1 bg-stone-900"
            >
            </div>
          </div>
        </div>
      </div>
    </div><div class="z-30 absolute left-72" style="">
      <div
        class="bg-white md:w-72 p-2 md:h-[360px] rounded-xl shadow-sm md:hover:shadow-lg md:hover:-translate-y-2 md:hover:scale-105 cursor-default transition-all duration-200 undefined"
      >
        <div class="h-full w-full border rounded-lg p-3">
          <div class="flex justify-between">
            <div class="h-1 w-1 bg-stone-900"></div><div
              class="h-1 w-1 bg-stone-900"
            >
            </div>
          </div><div class="h-full w-full flex flex-col justify-between py-4">
            <img
              src="https://res.cloudinary.com/daog6scxm/image/upload/v1757689284/NewWebsite/images/bulgarian_sqvgjm.webp"
              class="md:h-20 h-16 md:w-20 w-16 md:mb-0 mb-8"
              alt=""
            /><div class="flex flex-col gap-3">
              <div class="font-mono leading-tight">
                Within a weekend, we were able to build a dynamic form and
                process that helped us rehome 100,000 Ukranian refugees, safely.
              </div><div class="font-medium text-stone-900">
                Bozhidar Bozhanov - Minister, Bulgarian Government
              </div>
            </div>
          </div><div class="flex justify-between">
            <div class="h-1 w-1 bg-stone-900"></div><div
              class="h-1 w-1 bg-stone-900"
            >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
