---
import Customers from "@components/Customers.astro";
import Button from "@components/Button.astro";
import HeroSwitcher from "@components/HeroSwitcher.astro";
import AgentPreview from "@assets/images/platform/AgentPreview.png";
import AgentInChat from "@assets/images/platform/AgentInChat.png";
import agents from "@assets/images/platform/agents.png";
import AgentInAutomations from "@assets/images/platform/AgentInAutomations.png";
import AgentTools from "@assets/images/platform/AgentTools.png";
import GraphicsCard from "phosphor-astro/LegoSmileyfiLL.astro";
import ChatCircleDots from "phosphor-astro/ChatCircleFill.astro";
import Path from "phosphor-astro/PathFill.astro";
import Browsers from "phosphor-astro/BrowsersFill.astro";
import Table from "phosphor-astro/GridNineFill.astro";
---

<section class="container max-w-7xl mx-auto px-2 lg:px-0 flex flex-col mt-8 md:mt-20">
  <!--
    Build AI agents, chat, automations and apps - with your models, data, and
    tools.
    Open-source and built to make your workplace more productive, Budibase is the privacy-first way to
    build AI agents, chat, apps, & automations.
  Open-source and built for privacy-first teams, Budibase is the best way to
  automate workflows with AI.
  Open-source and built for privacy-first teams, Budibase is the better way to
  <span class="text-sky-700">automate workflows with AI</span>
  Open-source and built for privacy-first teams, Budibase is the faster way to
  <span class="text-sky-700">automate workflows with AI</span>
  Open-source and built for privacy-first workflows, Budibase is the proven way to
    build AI agents, chat, apps, & automations.
  -->
  <h1 class="max-w-xl h2 text-stone-500! dark:text-stone-400! mb-4">
    Budibase is a privacy-first AI workflow platform. 
    <span class="text-stone-950 dark:text-stone-50"
      >Build Agents, Chat, Automations, and
      Internal apps. Join 300K teams transforming workflows with AI.</span
    >
  </h1>
  <div class="flex flex-row mt-2">
    <Button label="Get Budibase free" url="/" variant="cta" />
  </div>

  <div class="mt-6 md:mt-10">
    <HeroSwitcher
      items={[
        {
          label: "Chat",
          product: AgentPreview,
          userProduct: AgentInChat,
          alt: "Budibase chat",
          icon: ChatCircleDots,
          tagLabel: "New",
          tagVariant: "secondary",
        },
        {
          label: "Agents",
          product: agents,
          alt: "Budibase agents",
          icon: GraphicsCard,
          tagLabel: "New",
          tagVariant: "secondary",
        },

        {
          label: "Automations",
          product: AgentInAutomations,
          alt: "Budibase automations",
          icon: Path,
        },
        {
          label: "Apps",
          product: AgentTools,
          userProduct: AgentPreview,
          alt: "Budibase apps",
          icon: Browsers,
        },
        {
          label: "Tables",
          product: AgentTools,
          alt: "Budibase tables",
          icon: Table,
        },
      ]}
    />
  </div>
</section>
