---
import IntegrationBanner from "@components/IntegrationBanner.astro";
---

<div class="container max-w-6xl mx-auto mt-12 md:mt-24 px-2 lg:px-0">
    <h2 class="mb-6 text-lg text-secondary text-center">
        Your models, your tools, your data, <span class="text-primary"
            >your privacy.</span
        >
    </h2>
    <IntegrationBanner />
</div>
