---
import IntegrationBanner from "@components/IntegrationBanner.astro";
---

<div class="container max-w-7xl mx-auto mt-12 md:mt-24 px-2 lg:px-0">
    <h2 class="mb-6 text-center! text-3xl! md:text-4xl! lg:text-5xl! tracking-[-0.015em]! text-balance! max-w-4xl! mx-auto!">
        Your models, your tools, your data, <span class="text-primary"
            >your privacy.</span
        >
    </h2>
    <IntegrationBanner />
</div>
