---
import ProductSection from "@components/cards/ProductSection.astro";
import HeroBackground from "@assets/images/homepage/HeroBackground.png";
import Tag from "@components/Tag.astro";
import Card from "@components/cards/Card.astro";
---

<div class="container max-w-7xl mx-auto mt-12 md:mt-24 px-2 lg:px-0">
  <Tag label="/UseCases" variant="primary" size="small" class="mb-4" />
  <h2 class="mb-6 text-xl md:text-2xl lg:text-3xl text-secondary">
    Real use cases, real solutions,
    <span class="text-primary">real results.</span>
  </h2>
  <div
    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 md:gap-2"
  >
    <Card
      tag="/Security"
      label="Incident Triage"
      description="Help analysts process, classify, and respond to incidents faster."
      linkUrl="/use-cases/customer-support"
    />
    <Card
      tag="/Security"
      label="Access request"
      description="Automate the process of granting, reviewing, and revoking access"
      linkUrl="/use-cases/data-processing"
    />
    <Card
      tag="/Security"
      label="Analyze Crowdstrike alerts"
      description="Fetch Crowdstrike alerts, analyze them with AI, and create Jira tickets."
      linkUrl="/use-cases/data-processing"
    />
    <Card
      tag="/IT"
      label="Change management"
      description="Streamline, validate, and audit IT change requests."
      linkUrl="/use-cases/workflow-automation"
    />
    <Card
      tag="/IT"
      label="Password reset"
      description="Automate password resets and account unlocks."
      linkUrl="/use-cases/content-generation"
    />
    <Card
      tag="/IT"
      label="Employee onboarding"
      description="Automate onboarding by creating accounts and permissions."
      linkUrl="/use-cases/content-generation"
    />
    <Card
      tag="/IT"
      label="IT ticket triage"
      description="Triage incoming IT tickets and assign them to the appropriate team."
      linkUrl="/use-cases/content-generation"
    />
  </div>
</div>
