---
const { frontmatter } = Astro.props;
import Layout from './MainLayout.astro';

---

<Layout>
  <div class="max-w-prose mx-auto w-full">
    <h1 class="mb-4 mt-24">{frontmatter.title}</h1>
    <p class="text-stone-500! dark:text-stone-400!">Written by {frontmatter.author}</p>
  </div>
        <slot />
  </div>
</Layout>


